:root{
    --theme-color: #2196F3;
    --secondory-theme-color: #2F303A;

    --text-primary: #212121;
    --text-secondary: #757575;
   
    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
}
    /* General styles */
html {
    box-sizing: border-box;
    }
    
*,
*::before,
*::after {
    box-sizing: inherit;
    }
body{
    font-family: 'Roboto', sans-serif;
   }
main{
    background-color: var(--secondory-theme-color);
    padding: 160px;
   }
   h1,h2,h3,h4,h5,h6,p{
    margin: 0;
   }
ul, ol{
    list-style: none;
   }
a{
    text-decoration: none;
   }
address{
    font-style: normal;
   }
   img{
    display: block;
}
    /*navigation*/
.navigation{
    display: flex;
    align-items: center;
    padding: 24px 215px;        
   }
   .navlink {
     display: flex;
   }
   .head-link {
       color: var(--text-primary);
       font-family: var(--primary-font);
       font-style: normal;
       font-weight: 500;
       font-size: 14px;
       line-height: 16px;
       letter-spacing: 0.02em;
       margin-right: 50px;
   } 
   .head-link:hover {
       color: var(--theme-color);
       text-decoration: none;
       font-family: var(--primary-font);
       font-style: normal;
       font-weight: 500;
       font-size: 14px;
       line-height: 16px;
   }
   .box-link {
    display: flex;
    align-items: center;
    margin-left: auto;
   }
   .info {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
   
}
.info:hover {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:#2196F3;
}
.tel-link{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

}
.tel-link:hover {
font-family: var(--primary-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
    /* main */

    .portfolio-main{
        background-color: #FFFFFF;
        }
    .port-button{
        background-color: #F5F4FA;
        color: #212121;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        border-radius: 4px;
        margin-right: 8px;   
        }
    .port-button:hover{
        background-color: #2196F3;
        color: #FFFFFF;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        }
    .p-port {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        }
        .box-button {
            display: flex;
            align-items: center;
        }
        .conteinier-images {
            display: flex;
        }
        .main-box {
            background: #FFFFFF;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            margin-right: 30px;
        }
    /* footer */
    .footer-links{
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    }
    footer{
        background-color: var(--secondory-theme-color);
        width: 1600px;
        height: 252px;
    }
.link-mail ,
.link-tel{
    color:  rgba(255, 255, 255, 0.6);
    }
span {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;  
    }
.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
    }
.footer-logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;  
    }
.street {
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    }
    .box-button {
        display: flex;
        align-items: center;
    }
    .conteinier-images {
        display: flex;
    }
    .main-box {
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-right: 30px;
    }
    .block-logo {
        margin: 60px 1240px 20px 215px;
    }