    :root{
        --theme-color: #2196F3;
        --secondory-theme-color: #2F303A;

        --text-primary: #212121;
        --text-secondary: #757575;
       
        --primary-font: 'Roboto';
        --secondary-font: 'Raleway';
    }
    html {
        box-sizing: border-box;
        }
        
        *,
        *::before,
        *::after {
        
    box-sizing: inherit;
        }
    body{
        font-family: 'Roboto', sans-serif;
        width: 1600px;
        height: 600px;
    }
    
    h1,h2,h3,h4,h5,h6,p{
        margin: 0;
    }
    ul, ol{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    address{
        font-style: normal;
    }
    img{
        display: block;
    }
      /* navigation */
      .conteinier{
        margin: 0 auto;
        width: 1200px;
        padding: 0 15px;
        display: flex;

       }
       .navlink {
         display: flex;
       }
       .head-link {
           color: var(--text-primary);
           font-family: var(--primary-font);
           font-style: normal;
           font-weight: 500;
           font-size: 14px;
           line-height: 16px;
           letter-spacing: 0.02em;
           margin-right: 50px;
       } 
       .box-link {
           display: flex;
           align-items: center;
           margin-left: auto;
       }
       .head-link:hover {
           color: var(--theme-color);
           text-decoration: none;
           font-family: var(--primary-font);
           font-style: normal;
           font-weight: 500;
           font-size: 14px;
           line-height: 16px;
       }
       .tel-link{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;

    }
    .tel-link:hover {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    } 
    .info {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
        margin-right: 50px;
       
    }
    .info:hover {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color:#2196F3;
    }
       /* main */
       .main {
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #212121;  
        background-color: var(--secondory-theme-color);
            padding: 200px 0px;
       }
    .main-but {
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        padding-left: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 32px;
        color: #FFFFFF;
        margin: 0 auto;
        align-items: center;
    }
    .main-but:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        padding-left: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 32px;
        cursor: pointer;
        color: #FFFFFF;
    }
    h1 {
        font-family: var(--primary-font);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
    }
    .names {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .text {
        color: var(--text-secondary);
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin-right: 30px;
    }
    h2 {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: bold; 
        font-size: 36px;
        line-height: 42px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
    .tittle {
        text-transform: uppercase;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .image-main {
        margin-right: 30px;
    }
    
    p {
        color: var(--text-secondary);
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }
    .footer-links{
        color: rgba(255, 255, 255, 0.6);
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }
    footer{
        background-color: var(--secondory-theme-color);
        width: 1600px;
        height: 252px;
        
    }
        
    .link-mail ,
    .link-tel{
        color:  rgba(255, 255, 255, 0.6);
    }
    h3 {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
        color: #212121;    
}
span {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;  
    }
.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}
.footer-logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;  
}
.street {
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.section {
   padding: 94px 0;
}
.box-what-are-doing {
    display: flex;
}
.box-text {
    display: flex;
}

text {
    width: 270px;
    height: 75px;
    margin-right: 30px;
}


.image-box {
    display: flex;
}
.team {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.names {
    margin: 30px 59px 10px 60px;
    
}
.profession {
    margin: 10px 70px 30px 70px;
}
.block-logo {
    margin: 60px 1240px 20px 215px;
}
.contacts {
    margin: 20px 1154px 60px 215px;
}
